<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Research Outcome Publishing</display-name>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <listener>
    <listener-class>rop.miu.util.ROPApplication</listener-class>
  </listener>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/ressources/jsp/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>FiltrePrincipal</filter-name>
    <filter-class>rop.miu.FiltrePrincipal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltrePrincipal</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltreAdmin</filter-name>
    <filter-class>rop.miu.FiltreAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreAdmin</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ModControlpanel</servlet-name>
    <servlet-class>rop.miu.modules.controlpanel.ModControlpanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModControlpanel</servlet-name>
    <url-pattern>/ModControlpanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModHello</servlet-name>
    <servlet-class>rop.miu.modules.hello.ModHello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModHello</servlet-name>
    <url-pattern>/ModHello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModAuthentication</servlet-name>
    <servlet-class>rop.miu.modules.authentication.ModAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModAuthentication</servlet-name>
    <url-pattern>/ModAuthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModAdminJournal</servlet-name>
    <servlet-class>rop.miu.modules.journal.ModAdminJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModAdminJournal</servlet-name>
    <url-pattern>/ModAdminJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModElearning</servlet-name>
    <servlet-class>rop.miu.modules.elearning.ModElearning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModElearning</servlet-name>
    <url-pattern>/ModElearning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModPublications</servlet-name>
    <servlet-class>rop.miu.modules.publications.ModPublications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPublications</servlet-name>
    <url-pattern>/ModPublications</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTopic</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.AddTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopic</servlet-name>
    <url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllTopics</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.CetAllTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTopics</servlet-name>
    <url-pattern>/GetAllTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexPublications</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.IndexPublications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublications</servlet-name>
    <url-pattern>/IndexPublications</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaperSubmission</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.PaperSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperSubmission</servlet-name>
    <url-pattern>/PaperSubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllArticlesOfAJournal</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.GetAllArticlesOfAJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllArticlesOfAJournal</servlet-name>
    <url-pattern>/GetAllArticlesOfAJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDashBoard</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.UserDashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashBoard</servlet-name>
    <url-pattern>/UserDashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewersForValidation</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.ReviewersForValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewersForValidation</servlet-name>
    <url-pattern>/ReviewersForValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintVolumes</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.PrintVolumes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintVolumes</servlet-name>
    <url-pattern>/PrintVolumes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMailForValidation</servlet-name>
    <servlet-class>rop.miu.modules.publications.servlets.SendMailForValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailForValidation</servlet-name>
    <url-pattern>/SendMailForValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModNews</servlet-name>
    <servlet-class>rop.miu.modules.news.ModNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModNews</servlet-name>
    <url-pattern>/ModNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModPages</servlet-name>
    <servlet-class>rop.miu.modules.pages.ModPages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPages</servlet-name>
    <url-pattern>/ModPages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModContactUs</servlet-name>
    <servlet-class>rop.miu.modules.contactUs.ModContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModContactUs</servlet-name>
    <url-pattern>/ModContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModPayment</servlet-name>
    <servlet-class>rop.miu.modules.payment.ModPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPayment</servlet-name>
    <url-pattern>/ModPayment</url-pattern>
  </servlet-mapping>
</web-app>