html{height: 100%;}
body{height: 100%; padding-top: 92px; border: none !important; font-family: Trebuchet MS, Palatino Linotype, Times, sans serif !important; font-size: 1.7em !important; background-color: rgb(253, 253, 253) !important;}
#pgb-header-bar{height: 92px; font-weight: bold; text-transform: uppercase; box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);}
#pgb-header-bar li a{color: #456045; font-size: 0.9em !important;}
#pgb-header-bar .nav > li:hover > a, #pgb-header-bar .dropdown-menu > li:hover > a{color: rgb(76, 175, 80);}
/*#pgb-header-bar li:hover a, #pgb-top-menu-more, #pgb-left-aside li:hover a{color: rgb(76, 175, 80);}*/
#pgb-left-aside .pgb-accordeon-item li:hover a{color: rgb(76, 175, 80);}
#pgb-top-menu-more{padding: 15px; margin-top: -14px;}
#pgb-top-menu-more .dropdown-toggle{color: white; font-weight: bold; padding: 12px; background-color: rgb(76, 175, 80); border: 1px solid #456045; text-transform: uppercase;}
#pgb-top-menu-more .dropdown-menu{margin-top: -10px; margin-left: 15px; padding: 7px; padding-top: 15px; font-size: 1.01em;}
#pgb-logo-and-avatar, #pgb-logo, #pgb-nav-social-search{height: 100%;}
#pgb-search-social{height: 45%;}
#pgb-top-navbar{margin-top: 24px; padding-left: 30px !important; padding-right: 30px; border-top: none; border-bottom: 1px solid #d9d6c4; padding-left: 10px;}
#pgb-top-navbar .ui-state-active{border: 1px solid rgb(76, 175, 80); border-radius: 2px;}
#pgb-top-navbar .ui-state-active a{color: rgb(76, 175, 80);}
.navbar-toggle{margin-top: 24px; border: 2px solid rgb(76, 175, 80) !important;}
.navbar-toggle:hover, .navbar-toggle:focus{background-color: rgb(76, 175, 80) !important;}
.navbar-toggle .icon-bar{background-color: rgb(76, 175, 80) !important;}
.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar{background-color: white !important;}
.navbar-brand img{width: 100px; margin-top: -18px;}
#pgb-main-container{height: auto; padding-top: 20px; font-size: 0.9em;}
.input-group-btn{font-size: 1.2em;}
.pgb-clearer{clear: both;}
.nav > li > a{padding: 15px 7px 15px 7px !important;}
.pgb-color-green{color: rgb(76, 175, 80);}
.pgb-background-red{background-color: red !important;}
.form-control:focus {border-color: rgb(76, 175, 80); outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(76, 175, 80, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(76, 175, 80, .6);}
.pgb-background-green{background-color: rgb(76, 175, 80) !important;}
#pgb-status-container{padding-top: 10px; padding-bottom: 0px; display: none; margin-top: -10px; z-index: 999999;}
#pgb-status-action-row, .pgb-status-row{padding-top: 5px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px; border-radius: 3px; margin-bottom: 5px; margin-top: 5px; }
.pgb-status-row .pgb-status-text > span{font-size: 0.85em;}
.btn-primary, .btn-primary:hover, .btn-primary:focus{background-color: rgb(76, 175, 80) !important; border: 1px solid rgb(76, 175, 80);}
.btn-link{color: rgb(76, 175, 80) !important;}
#pgb-left-aside{border: none; padding-top: 20px; padding-bottom: 10px;}
#pgb-main-section{border: none; padding: 20px 5px 10px 5px;}
#pgb-main-section a{font-style: italic;}
#pgb-right-aside{border: none; padding: 20px 5px 10px 5px;}
#pgb-left-aside .panel-heading, #pgb-right-aside .panel-heading{height: 30px; padding: 5px 10px 5px 10px; box-shadow: none; background-color: none;}
.panel-info{border-radius: 4px !important;}
#pgb-left-aside li a{color: #456045; font-size: 0.88em !important;}
.list-group-item{padding: 4px 10px 4px 10px;}
.panel-info > .panel-heading + .panel-collapse > .panel-body {border-top-color: transparent; font-size: 0.88em;}
#pgb-right-aside .panel-body {border-top-color: transparent; font-size: 0.88em;}
#pgb-left-aside .accordion-toggle{display: inline-block; width: 100%; cursor: pointer;}
#pgb-left-aside a:hover, #pgb-left-aside a:focus{text-decoration: none;}
.list-group-item .dropdown-toggle{color: #456045; background-color: transparent;}
.list-group-item .dropdown-menu{width: 100%; font-size: 1.01em; padding: 2px;}
.pgb-toggle-symbol{font-size: 0.7em; float: right; margin-top: 5px;}
.panel-heading h3, .panel-heading h3 a{color: #456045; font-weight: bold;}
#pgb-top-profile-dropdown{width:60px; height: 60px; margin-top: -10px; padding: 0px; margin-right: 5px;}
#pgb-top-profile-dropdown button.btn{width: 100%; height: 100%; padding: 0px; border-radius: 100%;}
#pgb-top-profile-dropdown button.btn > img.pgb-top-avatar{width: 100%; height: 100%; border-radius: 100%;}
#pgb-top-profile-dropdown button.btn > span.caret{color: rgb(76, 175, 80); margin-top: 60px; margin-left: -33px; position: absolute;}
#pgb-top-profile-dropdown .dropdown-menu{margin-top: 7px; padding: 7px; font-size: 1.01em; text-transform: none !important;}
#pgb-main-container{min-height: calc(100% - 190px); padding-top: 0px !important;}
#pgb-footer-container{bottom: 0 !important; margin-top: 20px; min-height: 170px !important; font-size: 0.95em;}
#pgb-footer-top-row{padding-top: 15px !important; padding-bottom: 15px !important; min-height: 125px !important;}
#pgb-footer-bottom-row{margin-top: 5px; margin-bottom: 10px;}
#pgb-copyright{font-size: 0.85em;}
#pgb-scrolltop-control{width: 25px; height: 25px; padding-top: 1px; border-radius: 100%; background: white; font-size: 1.4em; color: rgb(76, 175, 80) !important;}
.pgb-content-row{border: 1px solid #d9d6c4 !important; background: white !important; padding-top: 10px; padding-bottom: 10px; margin-left: 0px; margin-right: 0px; border-radius: 3px; box-shadow: 0px 0px 1px rgba(0, 0, 0, .1); margin-top: 15px;}
.pgb-content-row:nth-child(1){margin-top: 0px !important;}
.pgb-baos-notification-badge-top{margin-top: -3px; margin-left: -7px; position: absolute !important; color: white !important}
.required{color: red !important;}
.btn-danger{color: white !important;}
.btn{text-shadow: none !important;}

/*Shadow*/
.pgb-both-corner-shadow, .pgb-left-corner-shadow, .pgb-right-corner-shadow{position: relative;}
.pgb-both-corner-shadow:before, .pgb-both-corner-shadow:after, .pgb-left-corner-shadow:before, .pgb-right-corner-shadow:after{z-index: -1; position: absolute; content: ""; bottom: 8px; width: 50%; top: 80%; max-width:300px; background: #AAA; box-shadow: 0 15px 10px #AAA;}
.pgb-both-corner-shadow:before, .pgb-left-corner-shadow:before{left: 5px; transform: rotate(-3deg);}
.pgb-both-corner-shadow:after, .pgb-right-corner-shadow:after{transform: rotate(3deg); right: 5px; left: auto;}

#pgb-footer-top-row .list-group .list-group-item{border:none; background-color:transparent; margin-left:-10px !important;}
#pgb-footer-top-row .btn-group{border:none; background-color:transparent; margin-left:-30px !important;}
#pgb-footer-top-row .header-footer {color:rgb(76, 175, 80);}

@media (max-width:1200px){.pgb-to-hide-1200{display: none !important;}}
@media (max-width:1070px){.pgb-to-hide-1070{display: none !important;}}
@media (max-width:970px){.pgb-to-hide-970{display: none !important;}}
@media (max-width:870px){.pgb-to-hide-870{display: none !important;}}
@media (max-width:768px){#pgb-top-profile-dropdown{width:60px; height: 60px; margin-top: -10px; padding: 0px; margin-left: 15px;} #pgb-top-menu-more .dropdown-menu, #pgb-top-profile-dropdown .dropdown-menu{margin-top: -10px; margin-left: -25px; padding: 7px; padding-top: 15px; font-size: 1.01em;} #pgb-search-nav-bar{margin-top: -20px !important;}}

