#mod_auth_tab_profile .row{margin-top: 10px; margin-bottom: 10px;}
#mod_auth_tab_profile legend{margin-top: 15px !important; margin-bottom: 5px !important;}
#mod_auth_tab_profile > .row  img{border: 2px solid rgb(76, 175, 80); width: 130px; height: 130px; border-radius: 100%;}
.auth_notification{background-color: rgba(105, 105, 105, 0.2); border: 1px solid rgba(50, 50, 50, 0.5) !important; border-radius: 3px; margin-top: 10px !important; margin-bottom: 10px !important;}
@media (min-width:769px){#mod_auth_tab_profile > .row > div > .row:nth-child(1), #mod_auth_tab_edit_profile > .row{margin-top: 25px !important;}}
@media (max-width:768px){#mod_auth_tab_profile > .row > div > .row:nth-child(1), #mod_auth_tab_edit_profile > .row{margin-top: 55px !important;}}
.auth_img_preview {background-color: #f8f8f8; background-size: cover; border: 1px solid #ccc; border-radius: 3px; margin-top: 7px; width: 165px; height: 165px; margin-bottom: 10px;}
.cropit-preview-image-container {cursor: move;}
.file-btn input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}